.client-content {
  width: 100%;
  display: block;
}

.client-content .profile-container {
  width: 100%;
  max-width: 840px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.client-content .profile-container article.profile {
  width: 100%;
  max-width: 300px;
  height: 420px;
  background: #fff;
  border-radius: 8px;
}

.client-content .profile-container article.profile .wellcomes {
  padding: 18px;
}

.client-content .profile-container article.profile h1, span {
  font: 20px Poppins;
  color: #202020;
}

.client-content .profile-container article.profile span {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
}

.client-content .profile-container article.profile strong {
  display: block;
  font: 16px Poppins;
  margin-bottom: 18px;
}

hr {
	border-width: 0; 
	height: 1px;
  border-top-width: 1px;
	}

.client-content .profile-container article.profile .profile-data {
  height: 262px;
  display: flex;
  flex-direction: column;
  background: #e2e9ff;
  padding: 18px;
  border-radius: 8px;
}

.client-content .profile-container article.profile .profile-data h1 {
  margin-top: -6px;
  font: 20px Poppins;
  color: #202020;
}

.client-content .profile-container article.profile .profile-data strong {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 4px;
}

.client-content .profile-container article.profile .profile-data p {
  color: #202020;
  font-size: 16px;
  margin-bottom: 10px;
}

.client-content .profile-container article.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 420px;
  background: #2a2836;
  border-radius: 8px;
  padding: 20px;
}

.client-content .profile-container article.todo .todo-buttons {
  margin: 30px auto;
}

.client-content .profile-container article.todo strong {
  font: 20px Archivo;
  color: #7f75b4;
}

.client-content .profile-container article.todo button {
  margin-top: 15px;
}