@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Archivo, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px Archivo, sans-serif;
}

button {
  cursor: pointer;
}

form input {
<<<<<<< Updated upstream
    width: 100%;
    height: 60px;
    color: #3333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 10px;
}

.button {
    width: 100%;
    height: 60%;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: 0.2s;
=======
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin-bottom: 5px;
}

.button {
  width: 100%;
  height: 60px;
  background: #c4242c;
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  margin-top: 11px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
>>>>>>> Stashed changes
}

.button:hover {
  filter: brightness(80%);
}

.box {
  width: 100%;
  background-color: lightgrey;
  border: 1px solid #adb5e6;
  border-radius: 15px;
  padding: 50px;
}

.img-fundo {
  background-image: url("../src/assets/salcomp-logo.jpg");
  height: 32rem;
  background-position: center;
  background-size: cover;
}